@font-face {
  font-family: "FoundersGrotesk-Light";
  src: url(../fonts/FoundersGrotesk-Light.woff);
}

@font-face {
  font-family: "FoundersGrotesk-Regular";
  src: url(../fonts/FoundersGrotesk-Regular.woff);
}

@font-face {
  font-family: "FoundersGrotesk-Bold";
  src: url(../fonts/FoundersGrotesk-Bold.woff);

}
@font-face {
  font-family: "FoundersGrotesk-Semibold";
  src: url(../fonts/FoundersGrotesk-Semibold.woff);
}

@font-face {
  font-family: "PPMonumentExtended-Bold";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
