$font-light :"FoundersGrotesk-Light",sans-serif;
$font-regular :"FoundersGrotesk-Regular",sans-serif;
$font-semibold :"FoundersGrotesk-Semibold",sans-serif;
$font-bold :"FoundersGrotesk-Bold",sans-serif;
$font-ppm :"PPMonumentExtended-Bold",sans-serif;
$font-jp:'Noto Sans JP', sans-serif;

/* 미디어쿼리 */
// $small-mobile: 768px;
// $medium-mobile: 1025px;
// $desktop-low-res: 1025px;
// $desktop-high-res: 1441px;
// $desktop-extra-high-res: 1921px; 예상치 않은 고해상도 디스플레이에 대한 범위

