.main {
  .sc-visual {
    position: relative;
    width: 100%;
    height: 100vh;
    .visual-video-box {
      position: relative;
      height: calc(100% + 12.5rem);
      will-change: transform;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .visual-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .visual-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30vh;
      color: #fff;
      opacity: 0;
      // @include desktop {
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   opacity: 1;
      // }
      @include tablet {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      .bottom-text-group {
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 1;
        .bottom-main {
          margin-bottom: 1vw;
          font-family: $font-semibold;
          font-size: 4vw;
          @include tablet {
            font-size: 5vw;
          }
          @include mobile{
            font-size: 7vw;
          }
        }
        .bottom-sub {
          font-size: 2vw;
          @include tablet {
            color: #777675;
            font-size: 3vw;
          }
          @include mobile{
            font-size: 4.5vw;
          }
        }
      }
      .sns-list {
        position: absolute;
        bottom: 3vw;
        left: 2vw;
        font-size: 2vw;
        
        @include desktop {
          font-size: 2.8vw;
        }
        @include tablet {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 3vw;
          bottom: -45%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 4vw;
        }
        @include mobile{
          font-size: 4.8vw;
          bottom: -80%;
        }
        .sns-item {
          &:first-child {
            margin-bottom: 0.5vw;
          }
          span {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background-color: currentColor;
              transition: width 0.3s ease;
            }
            &:hover {
              &::after {
                width: 100%; /* 호버 시 가로 너비를 100%로 확장 */
              }
            }
          }
        }
      }
      .menu {
        position: absolute;
        bottom: 3vw;
        right: 2vw;
        font-size: 3vw;
        @include tablet {
          display: none;
        }
        .menu-link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 9vw;
          height: 4vw;
          border: 1px solid #fff;
          border-radius: 5px;
          color: #fff;
          font-size: 2.5vw;
          cursor: pointer;
          transition-duration: 130ms;
          transition-property: background-color, color;
          overflow: hidden;
          @include desktop{
            width: 11vw;
            height: 5vw;
            font-size: 3vw;
          }
          p {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              transition: 0.3s;
              transform: translateY(50%);
            }
          }
          &:hover {
            background-color: #fff;
            color: #000;
            span {
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }

  /* sc-about */
  .sc-about {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 149px;
      left: 0;
      width: 100%;
      height: calc(100% - 149px);
      background-color: #2c2a28;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: -webkit-linear-gradient(
        90deg,
        rgb(44, 42, 40) 7.99%,
        rgba(44, 42, 40, 0) 98.93%
      );
      z-index: 3;
    }
    .about-container {
      position: relative;
      padding-bottom: 6rem;
      border-radius: 50vw 50vw 0 0;
      background-color: #e5e5e3;
      overflow: hidden;
      z-index: 4;
      @include mobile{
        padding-bottom: 3rem;
      }
      .about-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 15rem;
        @include tablet {
          padding-top: 5rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 15rem;
          left: 0;
          width: 100%;
          height: 25rem;
          z-index: 1;
          background: -webkit-linear-gradient(
            90deg,
            rgba(229, 229, 227, 0) 0%,
            rgb(229, 229, 227) 59.51%
          );
          @include tablet {
            top: 5rem;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 25rem;
          z-index: 1;
          background: -webkit-linear-gradient(
            -90deg,
            rgba(229, 229, 227, 0) 0%,
            rgb(229, 229, 227) 59.51%
          );
        }
        .about-video {
          position: relative;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e5e5e3;
            opacity: 0.9;
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
          }
        }
      }
      .about-top {
        position: relative;
        margin-top: 14.5rem;
        text-align: center;
        z-index: 2;
        @include tablet {
          margin-top: 10rem;
        }
        @include mobile {
          margin-top: 4rem;
        }
        .about-sub {
          margin-top: 1.5vw;
          font-family: $font-light;
          font-size: 1.5vw;
          line-height: 1.2;
          @include desktop {
            margin-top: 3vw;
            font-size: 2.5vw;
          }
          @include tablet {
            margin-top: 8vw;
            font-size: 4vw;
            line-height: 1.6;
          }
        }
      }
      .about-images {
        position: relative;
        width: 40vw;
        height: 30vw;
        margin: 7vw auto 0;
        z-index: 2;
        @include tablet {
          width: 80vw;
          height: 60vw;
          margin: 7vw 14vw 0;
        }
        .about-link-img {
          width: 100%;
          .img-box {
            position: absolute;
            &:nth-of-type(1) {
              top: 0;
              left: 0;
              width: 23vw;
              transform: rotate(-15.38deg) translate3d(0, 0, 0);
              @include tablet {
                width: 50vw;
              }
            }
            &:nth-of-type(2) {
              top: 2%;
              right: 0;
              width: 30vw;
              transform: rotate(7.18deg) translate3d(0, 0, 0);
              @include tablet {
                width: 60vw;
              }
            }
            img {
            }
          }
        }
      }
      .about-link {
        position: relative;
        margin-top: 8.8rem;
        text-align: center;
        z-index: 2;
        @include mobile{
          margin-top: 3rem;
        }
        .inner-title {
          text-align: center;
          color: #333;
          a {
            display: inline-block;
            &:hover {
              p {
                &::after {
                  width: 100%;
                }
                span {
                  transform: translateY(-100%);
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
            p {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 7vw;
              font-size: 7vw;
              font-weight: 700;
              letter-spacing: 0.5rem;
              width: auto;
              line-height: 1;
              overflow: hidden;
              @include tablet {
                height: 11vw;
                font-size: 11vw;
              }
              @include mobile{
                letter-spacing: 0.2rem;
              }
              &::after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 0;
                height: 1px;
                background: #333;
                transition: width 0.4s ease;
              }
              span {
                position: relative;
                transition: 0.3s;
              }
            }
          }
        }
        .inner-sub {
          margin-top: 2.8rem;
          font-size: 1vw;
          line-height: 1.6;
          @include desktop{
            font-size: 1.5vw;
          }          
          @include tablet {
            font-size: 3vw;
          }
          @include mobile{
            margin-top: 1rem;
            font-size: 2.3vw;
          }
          
          .sub-jp {
          }
        }
      }
    }
  }

  /* sc-project */
  .sc-project {
    padding-top: 8.5rem;
    background-color: #e5e5e3;
    transform: translateY(-1px);
    @include mobile {
      padding-top: 1rem;
    }
    .project-container {
      position: relative;
      padding-bottom: 10rem;
      background-color: #fff;
      border-radius: 50vw 50vw 0 0;
      .project-bg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // transform: translate(-50%,-50%);
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
      }
      @include mobile {
        padding-bottom: 5rem;
      }

      

      .project-top {
        padding-top: 16rem;
        text-align: center;
        @include tablet{
          padding-top: 10rem;
        }
        @include mobile {
          padding-top: 6rem;
        }
      }
      .project-listWrapper {
        
        @include tablet {
          position: relative;
          padding-bottom: 5rem;
          overflow: hidden;
          will-change: height;
          transition: height 800ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        @include mobile{
          padding-bottom: 2rem;
        }
        .project-list {
          position: relative;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 124rem;
          max-width: 94%;
          gap: 5vw;
          margin: 5vw auto 0;
          z-index: 1;
          
          @include tablet {
            justify-content: space-between;
          }
          @include mobile {
            justify-content: none;
            margin: 10vw auto 0;

          }
          .project-item {
            width: 17%;
            // @include desktop{
            //   width: 46%;
            // }
            @include tablet {
              width: 46%;
            }
            
            a {
              position: relative;
              display: flex;
              flex-direction: column;
              z-index: 0;
              figure {
                position: relative;
                height: 0;
                padding-bottom: 57%;
                border-radius: 0.3rem;
                border: 1px solid #eaeaea;
                overflow: hidden;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  min-height: 1px;
                  object-fit: cover;
                  transform: scale(1);
                }
              }
              p {
                display: none;
                margin-top: 3vw;
                font-size: 3.1vw;
                line-height: 1.5;
                text-align: center;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                @include tablet {
                  display: -webkit-inline-box;
                }
              }
            }
          }
        }
      }
      .project-link {
        position: relative;
        margin-top: 8.8rem;
        text-align: center;
        z-index: 2;
        @include tablet {
          margin-top: 5vw;
        }
        .inner-title {
          text-align: center;
          color: #333;
          a {
            display: inline-block;
            &:hover {
              p {
                &::after {
                  width: 100%;
                }
                span {
                  transform: translateY(-106%);
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
            p {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 7vw;
              font-size: 6vw;
              font-weight: 700;
              letter-spacing: 0.5rem;
              width: auto;
              line-height: 1;
              overflow: hidden;
              @include tablet {
                height: 12vw;
                font-size: 11vw;
              }
              @include mobile{
                letter-spacing: 0.2rem;
              }
              &::after {
                content: "";
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 0;
                height: 1px;
                background: #333;
                transition: width 0.4s ease;
              }
              span {
                position: relative;
                transition: 0.3s;
              }
            }
          }
        }
        .inner-sub {
          margin-top: 2.8rem;
          font-size: 1vw;
          line-height: 1.6;
          .sub-jp {
          }
        }
      }
    }
  }

  /* sc-business */
  .wrapper {
    position: relative;
    width: 100%;
    height: auto;
    .spacer {
      width: 100%;
      // height: 50vh;
      height: 50%;
      .sc-business {
        position: relative;
        display: flex;
        .business-left {
          position: relative;
          flex: 1;
          // outline: 1px solid red;
          @include tablet {
          }
          .spStick-wrap {
            display: none;
            position: sticky;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            // height: 100vh;
            @include tablet {
              display: flex;
              flex-direction: column;
            }
            .spBusiness-link {
              position: absolute;
              // margin-top: 8.8rem;
              top: 50%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              z-index: 5;
              .inner-title {
                text-align: center;
                transition: color 0.1s;
                color: rgba($color: #fff, $alpha: 0.5);
                &:hover {
                  color: #fff;
                }
                a {
                  display: inline-block;
                  &:hover {
                    p {
                      &::after {
                        width: 100%;
                      }
                      span {
                        transform: translateY(-106%);
                        &::after {
                          width: 100%;
                        }
                      }
                    }
                  }
                  p {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 6vw;
                    font-size: 6vw;
                    font-weight: 700;
                    letter-spacing: 0.5rem;
                    width: auto;
                    line-height: 1;
                    overflow: hidden;
                    @include tablet {
                      height: 12vw;
                      font-size: 12vw;
                    }
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 0;
                      height: 1px;
                      background: #fff;
                      transition: width 0.4s ease;
                    }
                    span {
                      position: relative;
                      transition: 0.3s;
                    }
                  }
                }
              }
              .inner-sub {
                margin-top: 2.8rem;
                font-size: 1vw;
                line-height: 1.6;
                .sub-jp {
                }
              }
            }
          }
          .info {
            height: 100vh;
            padding: 9.5rem 5.8rem 0;
            background-color: rgb(197, 37, 53);
            color: #fff;
            @include tablet{
              height: auto;
              padding: 9.5rem 3rem 0;
              &:last-child{
                .info-more{
                  margin-bottom: 9.5rem;
                  @include mobile{
                    margin-bottom: 8rem;
                  }
                }
              }
            }
            .info-bl {
              @include tablet{
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              .spBusiness-img-box {
                display: none;
                overflow: hidden;
                img {
                  
                  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                  border-radius: 10px;
                  @include mobile{
                    border-radius: 5px;
                  }
                }
                @include tablet {
                  display: block;
                }
              }
              .info-title {
                font-size: 1vw;
                opacity: 0.6;
                @include desktop{
                  font-size: 1.5vw;
                }
                @include tablet{
                  margin-top: 5rem;
                  font-size: 3vw;
                }
                @include mobile{
                  margin-top: 4rem;
                  font-size: 3.5vw;
                }
              }
              .info-sub {
                margin-top: 1.7rem;
                font-size: 2vw;
                font-weight: 600;
                @include desktop{
                  font-size: 4vw;
                }
                @include tablet{
                  font-size: 8vw;
                }
                @include mobile{
                  margin-top: 1rem;
                  font-size: 9vw;
                }
              }
              .info-caption {
                margin-top: 2rem;
                font-size: 0.8vw;
                line-height: 1.5;
                opacity: 0.5;
                @include desktop{
                  font-size: 1vw;
                }
                @include tablet{
                  font-size: 3.3vw;
                  text-align: center;
                }
                @include mobile{
                  margin-top: 1rem;
                  font-size: 3vw;
                }
              }
              .info-more {
                width: 10vw;
                height: 4vw;
                margin-top: 3.3rem;
                
                @include desktop{
                  width: 15vw;
                  height: 5vw;
                }
                @include tablet{
                  width: 22vw;
                  height: 8vw;
                }
                @include mobile{
                  margin-top: 2rem;
                  width: 25vw;
                  height: 9vw;
                }
                
                a {
                  position: relative;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  height: 100%;
                  border-radius: 0.3rem;
                  text-align: center;
                  transition-duration: 130ms;
                  transition-property: background-color, color;
                  &:hover {
                    .text-box {
                      .aaa {
                        span {
                          transform: translateY(-100%);
                        }
                      }
                    }
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid currentColor;
                    border-radius: 0.3rem;
                    box-sizing: border-box;
                    transition-duration: 130ms;
                    transition-property: border-color;
                    @include mobile{
                      border-radius: 0.1rem;
                    }
                  }
                  .text-box {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    border-right: 1px solid currentColor;
                    font-size: 1vw;
                    @include desktop{
                      font-size: 1.5vw;
                    }
                    @include tablet{
                      font-size: 2.5vw;
                    }
                    .aaa {
                      height: 29%;
                      overflow: hidden;
                      span {
                        display: block;
                        transform: translateY(0);
                        transition: transform 0.3s;
                      }
                    }
                  }
                  .arrow {
                    flex: 1;
                    @include mobile{
                      font-size: 3vw;
                    }
                  }
                }
              }
            }
          }
        }

        .business-right {
          flex: 1;
          @include tablet {
            display: none;
          }
          .business-right-bl {
            position: sticky;
            top: 0;
            width: 100%;
            height: 100vh;
            .business-link {
              position: absolute;
              // margin-top: 8.8rem;
              top: 50%;
              left: 0;
              transform: translate(-50%, -50%);
              text-align: center;
              z-index: 5;
              .inner-title {
                text-align: center;
                transition: color 0.1s;
                color: rgba($color: #fff, $alpha: 0.5);
                &:hover {
                  color: #fff;
                }
                a {
                  display: inline-block;
                  &:hover {
                    p {
                      &::after {
                        width: 100%;
                      }
                      span {
                        transform: translateY(-106%);
                        &::after {
                          width: 100%;
                        }
                      }
                    }
                  }
                  p {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 6vw;
                    font-size: 6vw;
                    font-weight: 700;
                    letter-spacing: 0.5rem;
                    width: auto;
                    line-height: 1;
                    overflow: hidden;
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 0;
                      height: 1px;
                      background: #fff;
                      transition: width 0.4s ease;
                    }
                    span {
                      position: relative;
                      transition: 0.3s;
                    }
                  }
                }
              }
              .inner-sub {
                margin-top: 2.8rem;
                font-size: 1vw;
                line-height: 1.6;
                .sub-jp {
                }
              }
            }

            .business-img-group {
              position: relative;
              @include tablet {
                display: none;
              }
              .business-img-box {
                position: absolute;
                height: 100vh;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }

  /* sc-news */
  .sc-news {
    margin-top: 10rem;
    overflow: hidden;
    @include mobile{
    margin-top: 7rem;
    }
    .news-top {
      text-align: center;
    }
    .news-slide {
      margin-top: 6.9rem;
      overflow: visible;
      transition: transform 580ms cubic-bezier(0.165, 0.84, 0.44, 1);
      @include mobile{
        margin-top: 3rem;
      }
      .slide-btn {
        color: #e5e5e3;
        opacity: 0.5;
        transition: opacity 0.3s;
        &:hover {
          opacity: 1;
        }
      }
      .swiper-button-prev{
        &::after{
          @include mobile{
          font-size: 22px;
          }
        }
      }
      .swiper-button-next{
        &::after{
          @include mobile{
          font-size: 22px;
          }
        }
      }

      .news-list {
        .news-item {
          width: 70rem;
          // margin-left: -1px;
          @include tablet{
          background: #000; 
          z-index: 999;
          }
          a {
            display: block;
            width: 100%;
            figure {
              position: relative;
              display: block;
              height: 0;
              padding-bottom: 27vw;
              @include tablet{
              padding-bottom: 50vw;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .slide-text-group {
              position: absolute;
              bottom: 2rem;
              left: 1.7rem;
              right: 1.7rem;
              color: #fff;
              .slide-tag {
                font-size: 0.8vw;
                font-weight: 600;
                @include tablet{
                  font-size: 2.8vw;
                }
                @include mobile{
                  font-size: 3vw;
                }
                span {
                  display: inline-block;
                  padding: 0.3vw 0.5vw;
                  border: 1px solid #fff;
                  border-radius: 3px;
                  @include mobile{
                    padding: 1.3vw 1.5vw;
                  }
                }
              }
              .slide-title {
                position: relative;
                margin-top: 0.7rem;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.7;
                @include tablet{
                  font-size: 3vw;
                }
                @include mobile{
                  font-size: 3.3vw;
                }
              }
            }
          }
        }
      }
    }
    .news-cate-wrap {
      margin-top: 9.2rem;
      @include mobile{
      margin-top: 5rem;

      }
      .cateNav {
        .cate-list {
          display: flex;
          justify-content: center;
          gap: 2%;
          @include tablet{
            gap: 5%;
          }
          .cate-item {
            width: auto;
            font-size: 1.2vw;
            opacity: 0.5;
            transition: opacity 180ms;
            @include desktop{
              font-size: 3vw;
            }
            @include tablet{
              font-size: 4.5vw;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .category {
        position: relative;
        margin-top: 5rem;
        .category-group {
          .category-box {
            .category-item {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 2.8rem 0 2.8rem;
              gap: 10px;
              border-top: 1px solid #d6d6d5;
              text-align: center;
              transition-duration: 130ms;
              transition-property: background-color, color;
              @include tablet{
                gap: 20px;
                padding: 5rem 0 5rem;
              }
              @include mobile{
                gap: 20px;
                padding: 3rem 0 3rem;
              }
              &:hover {
                color: #fff;
                &::before {
                  transform: scale(1);
                }
                .cate-tag {
                  background: rgba(0, 0, 0, 0);
                }
                .cate-title {
                  span {
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #333;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
                z-index: -1;
              }
              &:last-child {
                border-bottom: 1px solid #d6d6d5;
              }
              .cate-tag {
                position: relative;
                display: inline-block;
                padding: 0.1vw 0.5vw 0.1vw;
                background-color: #fff;
                border: 1px solid #d6d6d5;
                border-radius: 0.3rem;
                font-size: 1.2rem;
                transition-duration: 100ms;
                transition-property: background-color, color;
                cursor: pointer;
                @include tablet{
                  font-size: 2.8vw;
                  padding: 1.1vw 1.5vw 1.1vw;
                }
              }
              .cate-title {
                position: relative;
                width: 94%;
                font-size: 1.2vw;
                font-weight: 700;
                line-height: 2;
                @include desktop{
                  font-size: 2vw;
                }
                @include tablet{
                  font-size: 3.5vw;
                }
                span {
                  position: relative;
                  border-bottom: 1px solid #333;
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: #fff;
                    transition: width 0.5s ease;
                  }
                }
              }
              .date {
                position: relative;
                font-size: 0.9vw;
                font-weight: 600;
                opacity: 0.5;
                @include desktop{
                  font-size: 2vw;
                }
                @include tablet{
                  font-size: 3vw;
                }
              }
            }
          }
        }
      }
    }
    .allNews-link {
      position: relative;
      margin-top: 8.8rem;
      text-align: center;
      z-index: 2;
      @include mobile{
        margin-top: 5rem;
      }
      .inner-title {
        text-align: center;
        color: #333;
        a {
          display: inline-block;
          &:hover {
            p {
              &::after {
                width: 100%;
              }
              span {
                transform: translateY(-106%);
                &::after {
                  width: 100%;
                }
              }
            }
          }
          p {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 6vw;
            font-size: 6vw;
            font-weight: 700;
            letter-spacing: 0.5rem;
            width: auto;
            line-height: 1;
            overflow: hidden;
            @include tablet{
              height: 12vw;
              font-size: 12vw;
            }
            @include mobile{
            letter-spacing: 0.2rem;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background: #333;
              transition: width 0.4s ease;
            }
            span {
              position: relative;
              transition: 0.3s;
            }
          }
        }
      }
      .inner-sub {
        margin-top: 2.8rem;
        font-size: 1vw;
        line-height: 1.6;
        .sub-jp {
        }
      }
    }
  }

  /* sc-recruit */
  .sc-recruit {
    margin-top: 10rem;
    overflow: hidden;
    @include mobile{
    margin-top: 5rem;
    }
    .recruit-container {
      padding: 10rem 0 10rem;
      border-radius: 50vw 50vw 0 0;
      background-color: #dfdfdb;
      @include mobile{
        padding: 5rem 0 5rem;
      }
      .recruit-top {
        text-align: center;
      }
      .gallery-wrap {
        display: flex;
        will-change: transform;
        .gallery-images {
          position: relative;
          display: flex;
          animation: loop-left 50s linear infinite;
          @include tablet{
            margin-top: 5rem;
          }
          @include mobile{
            margin-top: 1rem;
          }
          .gallery-img-box {
            position: relative;
            margin-left: 3.1rem;
            border-radius: 0.3rem;
            overflow: hidden;
            @include mobile{
              margin-left: 1.5rem;
            }
            &.box1 {
              width: 21.5rem;
              transform: rotate(21.74deg);
              margin-top: 3.4rem;
              @include mobile{
                width: 12rem;
              }
            }
            &.box2 {
              width: 26.7rem;
              transform: rotate(-10.2deg);
              box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.3);
              z-index: 2;
              @include mobile{
                width: 15rem;
              }
            }
            &.box3 {
              width: 21.1rem;
              transform: rotate(10.82deg);
              margin-top: 8.7rem;
              @include mobile{
                width: 10rem;
                margin-top: 5rem;
              }
            }
            &.box4 {
              width: 25rem;
              transform: rotate(-10.2deg);
              margin-top: 4.1rem;
              box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.3);
              z-index: 2;
              @include mobile{
                width: 15rem;
                margin-top: 0;
              }
            }
            &.box5 {
              width: 20.2rem;
              transform: rotate(6deg);
              margin-top: 8.7rem;
              @include mobile{
                width: 15rem;                
                margin-top: 3rem;
              }
            }
            figure {
              height: 0;
              padding-bottom: 115%;
              @include mobile{
                padding-bottom: 100%;
              }
              img {
                width: 100%;
              }
            }
          }
        }
      }

      .recruit-link {
        position: relative;
        margin-top: 10rem;
        text-align: center;
        z-index: 2;
        .inner-title {
          text-align: center;
          color: #333;
          a {
            display: inline-block;
            &:hover {
              p {
                &::after {
                  width: 100%;
                }
                span {
                  transform: translateY(-106%);
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
            p {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 6vw;
              font-size: 6vw;
              font-weight: 700;
              letter-spacing: 0.5rem;
              width: auto;
              line-height: 1;
              overflow: hidden;
              @include tablet{
                height: 12vw;
                font-size: 12vw;
                }
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: #333;
                transition: width 0.4s ease;
              }
              span {
                position: relative;
                transition: 0.3s;
              }
            }
          }
        }
        .inner-sub {
          margin-top: 2.8rem;
          font-size: 1vw;
          line-height: 1.6;
          .sub-jp {
          }
        }
      }
    }
  }
} //메인 끝 || 지우지마세염
